body {
    font-size: 14px;
    font-family: arial;
    line-height: 23px;
    background:#029ef3;
}

#wp-form-reset{
    width: 300px;
    background: #ffffff;
    border-radius: 3px;
    padding: 30px 20px 20px;
    margin: 100px auto;
    text-align: center;
}
#form-reset legend {
    font-weight: bold;
    padding-bottom: 10px;
}
#form-reset input[type='text'],
#form-reset input[type='email'],
#form-reset input[type='password']
{
    display: block;
    padding: 10px 10px;
    width: 100%;
    margin-bottom: 9px;
    border: none;
    background: #f7f7f7;
}
#form-reset input[type='submit']{
    dislay: block;
    width: 100%;
    background: #029ef3;
    border: none;
    color: #fff;
    padding: 10px 0;
    margin: 10px 0;
}
#form-reset a#lost-pass {
    color:#67a0b7;
    text-decoration: underline;
}
p.error {
    font-size: 13px;
    color: red;
}